.c-alert {
    position: relative;
    padding: .5rem;
    margin-bottom: .5rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.c-alert--warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.c-alert--error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.c-alert--info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.c-alert--success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
