#apps-pagination {
    position: fixed;
    width: 100%;
    left: 0;
}

.c-pagination__container {
    position: sticky;
    bottom: 0;
    padding-left: 50%;
}

.c-pagination__list {
    list-style-type: none;
    text-align: center;
    transform: translateX(-50%);
    padding-inline-start: 0;
}

.c-pagination__link {
    color: var(--colors-border-action-high);
    border: var(--button-border-thickness) solid var(--colors-border-action-high);
    border-radius: var(--radius-sm);
    display: inline-block;
    cursor: pointer;
    background: var(--colors-background-default);
    min-width: var(--spacing-2x);
    height: var(--spacing-2x);
    padding: var(--spacing-1x);
    user-select: none;
}

.c-pagination__link:hover {
    background-color: var(--colors-background-hover-alt);
}

.c-pagination__link--selected {
    font-weight: bold;
    cursor: default;
    background-color: var(--colors-background-hover-alt);
}

.c-pagination__link--disabled {
    display: inline-block;
    opacity: 0.2;
    cursor: default;
}
