/* inspiration : https://lokesh-coder.github.io/pretty-checkbox/#basic-checkbox */

.checkbox {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    white-space: nowrap;
    line-height: 1;
}

.checkbox__input {
    border: none;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0; 
    position: absolute;
    left: 0;
    top: 0;
    min-width: 1rem;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.checkbox__input--left {
    width: calc(100% + 1.5rem);
}

.checkbox__label {
    position: initial;
    display: inline-block;
    font-weight: 400;
    margin: 0;
    text-indent: 1.5rem;
    min-width: calc(1rem + 2px);
}

.checkbox__label--left {
    text-indent: 0;
}

.checkbox__label:before, .checkbox__label:after {
    content: '';
    width: calc(1rem + 2px);
    height: calc(1rem + 2px);
    display: block;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid transparent;
    z-index: 0;
    position: absolute;
    left: 0;
    top: calc((0% - (100% - 1.3rem)) - 8%);
    background-color: transparent;
}

.checkbox__label--left:before, .checkbox__label--left:after {
    left: auto;
    right: -1.5rem;
}

.checkbox__label:before {
    border-color: var(--boldSilver);
}

.checkbox__input:checked~.checkbox__state .checkbox__label:after {
    content: "\2714";
    left: -1.5rem;
}

.checkbox__input:checked~.checkbox__state .checkbox__label--left:after {
    right: -1.5rem;
    left: auto;
}
