<div class="checkbox">
    {% if position == "left" %}
        {% set input_class = "checkbox__input--left" %}
        {% set label_class = "checkbox__label--left" %}
    {% endif %}
    {% set input_value = '1' if checked_attr else '' %}
    {% set id_attr = 'id=' ~ checkbox_id if checkbox_id else '' %}
    <input type="checkbox"
           class="checkbox__input {{ input_class }}"
           name="{{ checkbox_name }}"
           {{ id_attr }}
           onclick="{{ checkbox_onclick_attr }}"
           {{ checked_attr }}
           value="{{ input_value }}">
    <div class="checkbox__state">
        <label for="{{ checkbox_name }}"
               class="checkbox__label {{ label_class }}">
            {{ label_name }}
        </label>
    </div>
</div>
