<div class="c-modal__mask" onclick="c_modal__close()"></div>
<div id="c-modal" class="c-modal__container c-modal__container--hidden">
    <div class="c-modal__decoration"></div>
    <div class="c-modal__body"></div>
    <div class="c-modal__footer"></div>
</div>