{% if session.type == 'poe' %}
    <div id="edit-form" class="row hidden">
        <button id="launch-app-creation"
                class="c-new-app-button {{ create_app_class_disabled }}"
                onclick="create_app(this, '{{ session_name }}')">
            Ajouter une application
        </button>
    </div>
{% endif %}
