{% macro sub_menu(session, menu, menu_url, submenu_url) %}
    {% if menu is not none and menu|length != 0 %}
        <ul class="select-menu">
            {% for entry in menu %}
                {% set entry_url = entry.name|replace("'", "\\'") %}
                <li>
                    <span
                    onclick="select_menu('{{ session_name }}', 0, '{{ menu_url }}', '{{ entry_url }}', '')"
                    class="select-menu__sub-item select-menu__sub-item--vertical">
                        {{ entry.name }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% if session_name == 'jerry' %}
    {% set menu_name = app.jerry_level_name|default('', true) %}
    {% set sub_menu_name = app.jerry_sub_level_name|default('', true) %}
{% endif %}

{% if session_name == 'koda' %}
    {% set menu_name = app.koda_level_name|default('', true) %}
    {% set sub_menu_name = app.koda_sub_level_name|default('', true) %}
{% endif %}

{% if session_name == 'leon' %}
    {% set menu_name = app.leon_level_name|default('', true) %}
    {% set sub_menu_name = app.leon_sub_level_name|default('', true) %}
{% endif %}

{% if session_name == 'poe' %}
    {% set menu_name = app.poe_level_name|default('', true) %}
    {% set sub_menu_name = app.poe_sub_level_name|default('', true) %}
{% endif %}

<input type="hidden"
       id="{{ session_name }}-level-name"
       name="{{ session_name }}_level_name"
       init="{{ menu_name }}"
       value="{{ menu_name }}">
<input type="hidden"
       id="{{ session_name }}-sub-level-name"
       name="{{ session_name }}_sub_level_name"
       init="{{ sub_menu_name }}"
       value="{{ sub_menu_name }}">

<button
    type="button"
    class="c-search-menu__button"
    onclick="open_select_menu('{{ session_name }}')"
    >
    {% if not menu_name %}
        <span id="select-menu__breadcrum-all-notions">
            Toutes les applications
        </span>
    {% endif %}
    <span class="select-menu__breadcrum"
          id="c-select-menu-breadcrum">
        {% if menu_name %}
            <span class="select-menu__breadcrum-level"
                id="{{ 'c-select-menu-breadcrum-level-' ~ session_name }}">
                {{ menu_name }}
            </span>
        {% else %}
            <span class="select-menu__breadcrum-level hidden"
            id="{{ 'c-select-menu-breadcrum-level-' ~ session_name }}"></span>
        {% endif %}
        {% if sub_menu_name %}
            <span class="select-menu__breadcrum-sub-level"
            id="{{ 'c-select-menu-breadcrum-sub-level-' ~ session_name }}">
            {{ sub_menu_name }}
            </span>
        {% else %}
            <span class="select-menu__breadcrum-sub-level hidden"
            id="{{ 'c-select-menu-breadcrum-sub-level-' ~ session_name }}"></span>
        {% endif %}
    </span>
    <span class="c-search-menu__caret"></span>
</button>

<a id="c-select-menu-{{ session_name }}"
     href="javascript:void(0)"
     class="vertical-menu__container vertical-menu__container--accordion"
     onblur="close_select_menu('{{ session_name }}')">
    <ul class="select-menu">
        {% for menu_item in menus[session_name].menu %}
            {% set menu_url = menu_item.name|replace("'", "\\'") %}
            <li>
                <span
                onclick="select_menu('{{ session_name }}', 0, '{{ menu_url }}', '', '')"
                class="select-menu__item select-menu__item--vertical">
                    {{ menu_item.name }}
                </span>
                {{ sub_menu(session, menu_item.menu, menu_url) }}
            </li>
        {% endfor %}
    </ul>
</a>
