div.row, fieldset {
    display: block;
    margin-bottom: .5rem;
}

label, input, textarea {
    font-size: var(--spacing-2x);
    margin: 0;
}

input {
    border-bottom: solid 1px var(--silver);
}

input[type=radio] {
    width: 2rem;
}

input:focus {
    border-bottom: solid 1px var(--boldedSilver);
    outline: none;
}

textarea {
    height: 5rem;
    width: 100%;
    display: block;
    border: solid 1px grey;
}

button {
    padding: .5rem;
    cursor: pointer;
}

.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.edit-app__fieldset {
    border: solid 1px var(--silver);
    padding: .5rem;
}

.edit-app__label:after {
    content: " : ";
}

.edit-checkbox {
    margin-top: 1rem;
}

.filter-session-container {
    display: flex;
    height: var(--spacing-6x);
    margin-bottom: var(--spacing-2x);
    align-items: center;
    font-size: var(--spacing-2x);
}

.filter-session-label {
    line-height: var(--spacing-6x);
    padding-left: var(--spacing-9x);
    margin-left: calc(-1 * var(--spacing-8x));
    margin-right: var(--spacing-2x);
    cursor: pointer;
}

#edit-zone {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: var(--spacing-3x);
    left: 0;   
}

#edit-button {
    z-index: 1;
}

#edit-mode-action, #disable-edit-mode-action {
    display: block;
}

#edit-mode-action.hidden, #disable-edit-mode-action.hidden {
    display: none;
}