{% set app_icon_path = app.icon_path if app.icon_path else app.default_icon_path %}
<label class="app__element" title="{{ app.name }}">
    <input type="checkbox" class="app__input" name="app-{{app.id}}" id="app-{{ app.id }}" onchange="{{ app_event }}" />
    <img class="app__img" loading="lazy" src="static/assets/apps/{{ app_icon_path }}" />
    <span class="loader"></span>
    <span class="app__name">{{ app.name }}</span>
    {% if app.is_available and session_name == 'poe' and preferences and preferences.edition %}
        <span class="app__is-installed"></span>
    {% endif %}
</label>