<div id="c-app__installation-sidebar" class="hidden">
    <div class="c-app__installation-card c-app__installation-card--wait">
        <h3 class="c-app__installation-subtitle">En attente</h3>
        <div class="c-app__installation-state">
            <strong>17</strong> paquets à <strong class="c-app__installation--install-note">installer</strong>.
        </div>
        <div class="c-app__installation-state"><strong>3</strong> paquets à <strong class="c-app__installation--update-note">mettre à jour</strong>.</div>
        <div class="c-app__installation-state"><strong>10</strong> paquets à <strong class="c-app__installation--delete-note">supprimer</strong>.</div>
    </div>
    <div class="c-app__installation-card c-app__installation-card--pending">
        <h3 class="c-app__installation-subtitle">En cours</h3>
        <div class="c-app__installation-state">
            <strong>10</strong> paquets en phase <strong class="c-app__installation--install-note">d'installation</strong>.
        </div>
    </div>
    <div class="c-app__installation-card c-app__installation-card--done">
        <h3 class="c-app__installation-subtitle">Terminés</h3>
        <div class="c-app__installation-state">
            <strong>2</strong> paquets <strong class="c-app__installation--install-note">installés</strong>.
        </div>
        <div class="c-app__installation-state"><strong>3</strong> paquets <strong class="c-app__installation--update-note">mis à jour</strong>.</div>
        <div class="c-app__installation-state"><strong>5</strong> paquets <strong class="c-app__installation--delete-note">supprimés</strong>.</div>
    </div>
</div>

<div id="installation-preview"
     onclick="trigger_sidebar();"
     class="c-installation-preview"
     style="--percentWait:20;--percentDone:20;">
    <span>
        <strong class="c-installation-preview__app-finished">10</strong>/<strong class="c-installation-preview__all-app">50</strong>
    </span>
</div>
