<script src="/{{ static/js/script.js }}"></script>
<script src="/{{ static/js/modal/script.js }}"></script>
<script src="/{{ static/js/searchmenu/script.js }}"></script>

<script src="/{{ static/js/lib/socket.io.js }}"></script>
<script src="/{{ static/js/daemon.js }}"></script>

{% if session.type == 'poe' %}
    <script src="/{{ static/js/admin/script.js }}"></script>
    <script src="/{{ static/js/admin/filter.js }}"></script>
    <script src="/{{ static/js/selectmenu/script.js }}"></script>
    <script src="/{{ static/js/admin/upload_img.js }}"></script>
    <!--<script src="/ {{ static/js/admin/install_app.js }}"></script>-->
{% endif %}
