{% if pagination is not none and pagination|length > 1 %}
    {% set pagination_level_name = 'null' %}
    {% if level_name is not none %}
        {% set pagination_level_name = "'" ~ level_name ~ "'" %}
    {% endif %}

    {% set pagination_sub_level_name = 'null' %}
    {% if sub_level_name is not none %}
        {% set pagination_sub_level_name = "'" ~ sub_level_name ~ "'" %}
    {% endif %}

    <ul class="c-pagination__list">
        {% if page_index == 0 %}
            <li class="c-pagination__link c-pagination__link--disabled">premier</li>
            <li class="c-pagination__link c-pagination__link--disabled">précédent</li>
        {% else %}
            <li class="c-pagination__link"
                onclick="go_level(0, {{ pagination_level_name }}, {{ pagination_sub_level_name }}, '{{ session_name }}')">
                premier
            </li>
            <li class="c-pagination__link"
                onclick="go_level({{ page_index - 1 }}, {{ pagination_level_name }}, {{ pagination_sub_level_name }}, '{{ session_name }}')">
                précédent
            </li>
        {% endif %}
        {% for page in pagination %}
            {% if page == '...' %}
                <li class="c-pagination__link--disabled">
                    {{ page }}
                </li>
            {% elif (page - 1) == page_index %}
                <li class="c-pagination__link c-pagination__link--selected"
                    title="la page sélectionnée"
                    onclick="go_level({{ page - 1 }}, {{ pagination_level_name }}, {{ pagination_sub_level_name }}, '{{ session_name }}')">
                    {{ page }}
                </li>
            {% else %}
                <li class="c-pagination__link"
                    onclick="go_level({{ page - 1 }}, {{ pagination_level_name }}, {{ pagination_sub_level_name }}, '{{ session_name }}')">
                    {{ page }}
                </li>
            {% endif %}
        {% endfor %}
        {% if page_index == (pagination|last - 1) %}
            <li class="c-pagination__link c-pagination__link--disabled">suivant</li>
            <li class="c-pagination__link c-pagination__link--disabled">dernier</li>
        {% else %}
            <li class="c-pagination__link"
            onclick="go_level({{ page_index + 1 }}, {{ pagination_level_name }}, {{ pagination_sub_level_name }}, '{{ session_name }}')">
                suivant
            </li>
            <li class="c-pagination__link"
                onclick="go_level({{ pagination|last - 1 }}, {{ pagination_level_name }}, {{ pagination_sub_level_name }}, '{{ session_name }}')">
                dernier
            </li>
        {% endif %}
    </ul>
{% endif %}
