{% include 'top_bar.html' %}

{% set css_class_search_edit_mode = '' if preferences.edition else 'hidden' %}
<div id="search-in-edit-mode" class="{{css_class_search_edit_mode}}">
    {% include 'poe_menu.html' %}
</div>

<div id="horizontal-menu">
    {% include 'horizontal_categories_menu.html' %}
</div>

<!--
<div class="edit-mode">
    {% include 'edition/edit.html' %}
</div>
-->

<div class="c-app__container c-app__container--poe">
    {% include 'apps.html' %}
</div>

<div id="apps-pagination" class="c-pagination__container bg-default">
    {% include 'pagination.html' %}
</div>
<!--
    {% include 'install_progression.html' %}
-->