<span class="filter-session-container">
    Session :
    <input id="edit-jerry-session-selected"
           onclick="get_menu('{{ session_name | lower }}', 'jerry')"
           data-selected-menu="jerry"
           name="session-selected"
           type="radio"
           {% if preferences.session_selected == 'jerry' %}checked{% endif %}>
    <div class="menu__icon menu__icon--sm">
       <img src="/static/assets/sessions/jerry.svg" />
    </div>
    <label class="filter-session-label" for="edit-jerry-session-selected">Jerry</label>

    <input id="edit-koda-session-selected"
           onclick="get_menu('{{ session_name | lower }}', 'koda')"
           data-selected-menu="koda"
           name="session-selected"
           type="radio"
           {% if preferences.session_selected == 'koda' %}checked{% endif %}>
    <div class="menu__icon menu__icon--sm">
       <img src="/static/assets/sessions/koda.svg" />
    </div>
    <label class="filter-session-label" for="edit-koda-session-selected">Koda</label>

    <input id="edit-leon-session-selected"
           onclick="get_menu('{{ session_name | lower }}', 'leon')"
           data-selected-menu="leon"
           name="session-selected"
           type="radio"
           {% if preferences.session_selected == 'leon' %}checked{% endif %}>
    <div class="menu__icon menu__icon--sm">
       <img src="/static/assets/sessions/leon.svg" />
    </div>
    <label class="filter-session-label" for="edit-leon-session-selected">Léon</label>

    <input id="edit-poe-session-selected"
       onclick="get_menu('{{ session_name | lower }}', 'poe')"
       data-selected-menu="poe"
       name="session-selected"
       type="radio"
       {% if preferences.session_selected == 'poe' %}checked{% endif %}>
    <div class="menu__icon menu__icon--sm">
       <img src="/static/assets/sessions/poe.svg" />
    </div>
    <label class="filter-session-label" for="edit-poe-session-selected">Poe</label>
</span>
<span class="filter-session-container">
    Filtrer par applications :
    <input id="edit-show-installed"
           type="radio"
           name="filter"
           onclick="get_menu('{{ session_name | lower }}')"
           {% if preferences.filter_by == 0 %}checked{% endif %}>
    <label class="filter-session-label" for="edit-show-installed">
        installées
    </label>
    <input id="edit-show-not-installed"
           type="radio"
           name="filter"
           onclick="get_menu('{{ session_name | lower }}')"
           {% if preferences.filter_by == 1 %}checked{% endif %}>
    <label class="filter-session-label" for="edit-show-not-installed">
        non installées
    </label>
    <input id="edit-show-both"
           type="radio"
           name="filter"
           onclick="get_menu('{{ session_name | lower }}')"
           {% if preferences.filter_by == 2 %}checked{% endif %}>
    <label class="filter-session-label" for="edit-show-both">
        tous
    </label>
</div>
